.display-inline div {
    display: inline-block;
}

.display-inline div.picker{
    width: 130px;
    padding: 5px 3px;
}

.display-inline div.add_img{
    width: 35px;
    padding-left: 10PX;
    padding-top: : 10PX;
}
.end-time{
    width: 150px;
}
.loading{
    width: 100%;
    background: rgba(141, 139, 139, 0.28);
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 2003;
    display: none;
}
.loading > img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 32px;
}
table {
    border-collapse: collapse;
    margin: 10px;
}
td.display-inline {
    width: 650px;
}

table, th, td {
    border: 1px solid #aaa;
}
td {
    padding: 0px 5px;
}
tr.table-header td {
    padding: 5px;
}
.picker input[type='text'] {
    border-radius: 4px;
    height: 20px;
    border-style: ridge;
    width: 80px;
    margin-bottom: 5px;
}

.ui-menu .ui-menu-item a {
    font-size: 14px;
}

#saveBtn,#closeBtn{
    border: 1px solid #888;
    background-color: #bbb;
    height: 30px;
    width: 60px;
    font-size: 16px;
    margin: 10px;
    border-radius: 4px;
    outline: none;
}
.remove_img img{
    width: 20px;
}
.remove_img,.add_img{
    cursor: pointer;
}
.visibility-off{
    visibility: hidden;
}
.visibility-on{
    visibility: visible;
}

header {  
    background-color: #5C2985;  
    width: 100%;  
    height: 50px;  
    color: white;  
    text-align: center; 
    margin-bottom: 20px;
}  
header span {    
    display: inline-block;    
    margin: 15px 0px;    
    vertical-align: middle;    
    text-transform: uppercase;    
    font-size: 15px;    
    font-weight: bold;
}
.disableRow{
    pointer-events: none;
    opacity: 0.3;
}
#error{
    color: red;
    padding: 5px;
    height: 20px;
}
.table-header
{
    background: #666;
    color: #fff;
}
tr:nth-child(even) {
    background: #f4f4f4;
}
.data-container{
    margin: 0 auto;
    width: 790px;
    /*overflow: auto;*/
    height: calc(100vh - 70px);
}
.picker input[readonly='readonly'] {
    cursor:initial;
    background-color:#fff;

}
input[disabled] {
    cursor: not-allowed !important;
    background-color: #eee !important;
}